@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit Roles";
}

@{
    AjaxOptions ao = new AjaxOptions() { UpdateTargetId = "partielAdmin", InsertionMode = InsertionMode.Replace };
}

<h2>Edit Role</h2>
@Html.ActionLink("Back", "index", "Roles")

@*@Ajax.ActionLink("Back", "index", "Roles", null, ao, new { @class = "btn btn-primary btnadmin" })*@
<hr />
@* new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "partielAdmin", InsertionMode = InsertionMode.Replace } *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Save" />
}
