@{
    ViewBag.Title = "ManageUserRoles";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-sm-12 col-lg-12 col-md-12">
    <h1>Role Manager</h1>
    <br />
</div>

@{
    AjaxOptions ao = new AjaxOptions() { HttpMethod = "GET", AllowCache = false, UpdateTargetId = "container1", InsertionMode = InsertionMode.Replace, OnSuccess = "jsListePanier", Confirm = "Voulez-vous supprimer ce role?" };

    AjaxOptions ao1 = new AjaxOptions() { HttpMethod = "GET", AllowCache = false, UpdateTargetId = "container1", InsertionMode = InsertionMode.Replace};
}



<div class="row col-sm-12 col-lg-12 col-md-12">


    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Role List</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover col-sm-6 col-lg-6 col-md-6 ">
                    @foreach (var role in ViewBag.Roles)
                    {                       
                        <tr>                    
                            <td class="col-sm-1 col-lg-7 col-md-7">
                                <strong>@role.Text </strong>
                            </td>
                            <td class="col-sm-1 col-lg-5 col-md-5">
                                @Ajax.ActionLink("Supprimer", "Delete", "Roles", new { RoleName = @role.Text }, ao, new { @class = "btn btn-primary btnadmin" }) |

                                @Ajax.ActionLink("Edit", "Edit", "Roles",new { roleName = @role.Text } , ao1, new { @class = "btn btn-primary btnadmin" })
                            </td>
                        </tr>
                       
                     }
                </table>
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Create A New Role</h4>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("Create", "Roles", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "container1", InsertionMode = InsertionMode.Replace }))
                 {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div>
                        Role name: @Html.TextBox("RoleName")
                        <input type="submit" value="Save" class="btn-primary" />
                    </div>
                }

            </div> <!--End Panel Body-->
        </div> <!--End Panel-->
    </div> <!--End First Column-->

    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Add a Role to a User</h4>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("RoleAddToUser", "Roles", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "container1", InsertionMode = InsertionMode.Replace }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <p>User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")</p>
                    <p>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p>
                    <p><input type="submit" value="Save" class="btn-primary" /></p>


                }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>List Roles for a User</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("GetRoles", "Roles", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "container1", InsertionMode = InsertionMode.Replace, OnSuccess = "jsListePanier" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
                        <input type="submit" value="Get Roles for this User" class="btn-primary" />
                    </p>
                }

                @if (ViewBag.RolesForThisUser != null)
            {
                    <div class="alert-info">
                        <strong>Roles for this user </strong>
                        <ol>
                            @foreach (string s in ViewBag.RolesForThisUser)
                {
                                <li>@s</li>
                            }
                        </ol>
                    </div>
                }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Remove Role from User</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                 {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <p>User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")</p>
                    <p>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p>
                    <p><input type="submit" value="Delete this user from Role" class="btn-primary" /></p>

                 }
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

    </div> <!--End Second Column-->

</div>  <!--Overall Page Wrapper-->

<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.Message
</div>


<script>
    function jsListePanier() {
        $.ajax({
            url: '@Url.Action("index", "Roles")',
            type: 'GET',
            dataType: 'html',
            //success: function (result) {
            //    $('#container1').html(result);
            //}
        });
    }

    function changePage() {
        $.ajax({
            window.alert("sometext");
            url: '@Url.Action("index", "Roles")',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#container2').html(result);
                window.alert("sometext");
            }
        });
    }

    function myFunction() {
        if (confirm("Confirm message")) {
            // do stuff
        } else {
            return false;
        }
    }
</script>

