@model IEnumerable<ProjetFinal.Models.xp>
@using ProjetFinal.Models;

@{
    ViewBag.Title = "AllXp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AdminOption")
<h2>Expérience</h2>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div id="PartialXp">
    <p>
        @Ajax.ActionLink("Ajouter xp", "AddXp", "Admin", new AjaxOptions() { UpdateTargetId = "PartialXp", InsertionMode = InsertionMode.Replace })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.xps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.xpTable.name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lvl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xpTable.name)
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@item.lvl@item.xps">Modifier</button>
                    @Html.ActionLink("Delete", "DeleteXp", new { idXp = item.id }, new { @class = "btn btn-info" })
                </td>
            </tr>

            <tr id=@item.lvl@item.xps class="collapse">
                <td  colspan="5">
                    @using (Html.BeginForm("EditXp", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @Html.Hidden(name: "id", value: @item.id)
     
                            <div class="form-group">
                                @Html.LabelFor(model => item.lvl, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => item.lvl, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => item.lvl, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => item.xps, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => item.xps, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => item.xps, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => item.dif, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => item.dif, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => item.dif, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @{
                                List<SelectListItem> listName = new List<SelectListItem>();

                                projetFinalEntities1 projetFinalEntities = new projetFinalEntities1();


                                foreach (xpTable xpTable in projetFinalEntities.xpTables.ToList())
                                {
                                    if (xpTable.name != item.xpTable.name)
                                    {
                                    listName.Add(new SelectListItem() { Text = xpTable.name, Value = xpTable.name });
                                    }
                                }

                                string value = item.xpTable.name;
                            }
                        
                            <div class="form-group">
                                @Html.LabelFor(model => item.xpTable.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("table", @listName, value)
                                </div>
                            </div>
                            @Html.Hidden(name: "else", value: @item.xpTable.name)
                            
                           
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-default">Modifier</button>
                                </div>
                            </div>
                        </div>
                     }
                </td>
            </tr>
         }

    </table>
</div>


