@model IEnumerable<ProjetFinal.Models.xp>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.xps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.xpTable.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xpTable.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
