@model IEnumerable<ProjetFinal.Models.competence>

@{
    ViewBag.Title = "Calcul";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Calcul</h2>
@{ if (Model.Count() != 0)
    {
<p>
    @Html.ActionLink("Retour", "Recherche")
</p>
<p>
    @Html.ActionLink("Nouveau calcul", "AllSkill")
</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.xp)
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.xp)
                    </td>
                    @{
                        double tempD = (int)TempData["DifXp"] / (int)item.xp;
                    }
                    <td>
                        @tempD
                    </td>
                </tr>
             }
        </table>
   }
   else
   {
   <p>Désoler aucune compétence</p>
    @Html.ActionLink("Retour", "Recherche")
   }
}

