@model IEnumerable<ProjetFinal.Models.competence>

@{
    ViewBag.Title = "Calcul";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Calcul</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.xp)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th>@TempData["DifXp"]</th>
    </tr>

    @foreach (var item in Model)
    {       
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xp)
                </td>
                @{
                    double tempD = (int)TempData["DifXp"] / (int)item.xp;
                }
                <td>                    
                   @tempD
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
            }

</table>
